.taco_box {
    display: grid;
    grid-template-columns: 350px 350px 350px 350px ;
}
.taco_box h3 {
    color:rgb(3, 143, 96)
}

nav {
    background-color:rgb(185, 54, 54);
    color:ghostwhite;
}
footer {
    background-color: olivedrab;
}
a {
    text-decoration: none;
}

.highlighted-row tr:nth-child(even) {
    background-color:darkgray;
}
